[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
attrs = "*"

[dev-packages]
pip = "==9.0.2"
coverage = "*"
pytest = "*"
pipenv = ">=11.10"
pytest-watch = "*"
pytest-cov = "*"
pytest-xdist = "*"
"pytest-pep8" = "*"
pdbpp = "*"
pygments = "*"
black = "==18.4a2"
"flake8" = "*"
"flake8-import-order" = "*"
pre-commit = "*"
mypy = "*"
factory-boy = "*"

[requires]
python_version = "3.6"

[scripts]
tests = "python -m pytest --cov=hermes --cov-report term-missing"
