[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
attrs = "*"
google-api-python-client = "*"
"oauth2client" = "*"
python-dateutil = "*"
appdirs = "*"
apsw = "*"

[dev-packages]
pip = "==9.0.3"
coverage = "*"
pytest = "*"
pipenv = ">=11.10.4"
pytest-watch = "*"
pytest-cov = "*"
pytest-xdist = "*"
"pytest-pep8" = "*"
pdbpp = "*"
pygments = "*"
black = "==18.5b0"
"flake8" = "*"
"flake8-import-order" = "*"
pre-commit = "*"
mypy = "*"
factory-boy = "*"
pytest-annotate = "*"

[requires]
python_version = "3.6"

[scripts]
tests = "python -m pytest --cov=hermes --cov-report term-missing --ignore tests/integration"
integration = "python -m pytest --cov=hermes --cov-report term-missing"
